@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
    background-color: #0f172a; /* Slate 900 */
    background-image: linear-gradient(to bottom right, #0f172a, #1e293b);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: #e2e8f0; /* Slate 200 */
    padding-top: 70px; 
    line-height: 1.7;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
  }
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    border: 0;
    background: #2dd4bf; /* Teal 400 */
    color: #0f172a;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    padding: 0.8em 2.5em;
    text-align: center;
    border-radius: 2em;
    font-weight: 600;
}

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
        background: #5eead4; /* Teal 300 */
        transform: translateY(-2px);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    input[type="button"].style2,
    input[type="submit"].style2,
    input[type="reset"].style2,
    button.style2,
    .button.style2 {
        color: #e2e8f0;
        background: rgba(30, 41, 59, 0.8); /* Slate 800 with opacity */
        box-shadow: none;
        border: 1px solid #334155;
    }

        input[type="button"].style2:hover,
        input[type="submit"].style2:hover,
        input[type="reset"].style2:hover,
        button.style2:hover,
        .button.style2:hover {
            background: #334155;
            color: #fff !important;
        }

    input[type="button"].style3,
    input[type="submit"].style3,
    input[type="reset"].style3,
    button.style3,
    .button.style3 {
        background: none;
        color: #fff;
        border: 1px solid #94a3b8;
        box-shadow: none;
    }

        input[type="button"].style3:hover,
        input[type="submit"].style3:hover,
        input[type="reset"].style3:hover,
        button.style3:hover,
        .button.style3:hover {
            background: rgba(255, 255, 255, 0.1);
            color: #fff !important;
            border-color: #fff;
        }


        

    .poptrox-popup .nav-next,
    .poptrox-popup .nav-previous {
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.01);
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

        .poptrox-popup .nav-next:before,
        .poptrox-popup .nav-previous:before {
            content: '';
            position: absolute;
            width: 96px;
            height: 64px;
            background: url("images/poptrox-nav.svg");
            top: calc(50% - 1.5em);
            margin: -32px 0 0 0;
        }

    .poptrox-popup:hover .nav-next,
    .poptrox-popup:hover .nav-previous {
        opacity: 0.5;
    }

        .poptrox-popup:hover .nav-next:hover,
        .poptrox-popup:hover .nav-previous:hover {
            opacity: 1.0;
        }

    .poptrox-popup .nav-next {
        right: 0;
    }

        .poptrox-popup .nav-next:before {
            right: 0;
        }

    .poptrox-popup .nav-previous {
        left: 0;
    }

        .poptrox-popup .nav-previous:before {
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            transform: scaleX(-1);
            left: 0;
            -ms-filter: "FlipH";
            filter: FlipH;
        }

    .poptrox-popup .closer {
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
        text-indent: -9999px;
        z-index: 2;
        opacity: 0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

        .poptrox-popup .closer:before {
            -moz-transition: background-color 0.5s ease-in-out;
            -webkit-transition: background-color 0.5s ease-in-out;
            -ms-transition: background-color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out;
            content: '';
            display: block;
            position: absolute;
            right: 16px;
            top: 16px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            box-shadow: inset 0 0 0 1px #fff;
            background: rgba(255, 255, 255, 0.1) url("images/poptrox-closer.svg") center center;
            color: #fff !important;
        }

    .poptrox-popup:hover .closer {
        opacity: 0.5;
    }

        .poptrox-popup:hover .closer:hover {
            opacity: 1.0;
        }



.customDiv{
    margin: 3px; 
    min-height: 300px; 
    background-color: silver; 
    text-align: center; 
    font-size: large; 
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.image.profile {
    float: center; 
    width:15rem; 
    border-radius: 15%; 
}
/* Skills Section*/
.inner {
	padding-top: 20px;
}
.skill-box{
	padding: 1rem;
	color:#ddd; 
	cursor: pointer;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
	width: 35px; 
}
.skill-box:hover .img{
	transform: translateY(-10px);
}

.skill-title{
	display: flex; 
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	position: relative;
}

.skill-title:after{
	content: '';
	position: absolute; 
	bottom: 0; 
	right: 50%; 
	width: 0px; 
	height: 4px; 
	border-radius: 2px 0 0 2px; 
	background-color: #2ecc71; 
	transition: .5s; 
}
.skill-title:before{
	content: '';
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	width: 0; 
	height: 4px; 
	border-radius: 0 2px 2px 0; 
	background-color: #2ecc71; 
	transition: .5s; 
	
}

.img{
	width: 90px; 
	height: 90px;
	position: relative;
	position: relative;
	border-radius: 25%; 
	background-color: #fff; 
	display: flex;
	justify-content: center; 
	align-items: center; 
	transition: .5s; 
}

.img:after{
	content: ""; 
	position: absolute;
	top: 0; 
	left: 0; 
	width: 60%; 
	height: 100%; 
	background: rgba(100, 100 ,100 ,0.5);
	border-radius: 25%; 
	transition: .5s; 
}

.img{
	width: 90px; 
	height: 90px;
	position: relative;
	position: relative;
	border-radius: 25%; 
	background-color: #fff; 
	display: flex;
	justify-content: center; 
	align-items: center; 
	transition: .5s; 
}
.skill-icon{
	width: 80%; 
	z-index: 2; 
	transition: .5s;
}
.skill-title h3{
	color: #fff; 
	margin-top: 0.5rem; 
}
/* timeline */

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    padding: 50px 0 20px;
    margin: 0 0 0 5px;
    float: right;
    opacity: 0; /* Hidden initially for animation */
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}
.main-timeline .timeline.visible {
    opacity: 1;
    transform: translateY(0);
}

.main-timeline .timeline-content{
    background: #1e293b; /* Slate 800 */
    padding: 20px 20px 30px;
    border: 2px solid #2dd4bf; /* Teal 400 */
    border-radius: 30px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #1e293b;
    background-color: #2dd4bf;
    font-size: 50px;
    text-align: center;
    line-height: 105px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.main-timeline .title{
    color: #f1f5f9; /* Slate 100 */
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 15px 40px;
}
.main-timeline .description{
    color: #cbd5e1; /* Slate 300 */
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline-year{
    color: #1e293b;
    background-color: #f8fafc;
    border: 2px solid;
    border-radius: 25%; 
    font-size: 20px;
    font-weight: 700; 
    line-height: 30px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -16px;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    margin: 0 5px 0 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); }
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: -50px;
}
.main-timeline .timeline:nth-child(even) .title{ margin: 0 40px 15px 0; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ border-color: #f472b6; } /* Pink 400 */
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background-color: #f472b6; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ color: #f472b6; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ border-color: #fb923c; } /* Orange 400 */
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background-color: #fb923c; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ color: #fb923c; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ border-color: #38bdf8; } /* Sky 400 */
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background-color: #38bdf8; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ color: #38bdf8; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 40px 0 15px;
        margin: 0 0 15px 0;
    }
    .main-timeline .timeline-content{ padding: 50px 20px 30px; }
    .main-timeline .timeline-icon{
        font-size: 40px;
        line-height: 85px;
        height: 80px;
        width: 80px;
        left: 15px;
        top: -40px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{ right: 15px; }
    .main-timeline .title,
    .main-timeline .timeline:nth-child(even) .title{
        font-size: 20px;
        margin: 0 0 7px;
    }
    .main-timeline .timeline-year{ font-size: 20px; }
}


.testimonial .container{
    background-color: #1e293b; 
    color: #e2e8f0;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
}

.testimonial .card {
    border: none;
    background: transparent;
}

.testimonial .profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.testimonial .second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey
}

@media only screen and (max-width: 600px) {
    .testimonial .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .testimonial .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }
    .testimonial .fourth {
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }
    .testimonial .icon {
        margin-top: 20px;
        top: 0
    }
}

.testimonial .fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px
}

.testimonial .intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px
}

.testimonial .row {
    padding-bottom: 53px
}

.testimonial .company {
    position: absolute;
    bottom: -42px
}

.testimonial .icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px
}

.testimonial .header {
    padding-top: 35px;
    padding-bottom: 50px
}